.row1{

    .row{
          display: flex;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333333;

        .ho{
             display: flex;
        }
        .ab{
             display: flex;
        }
        .con{
             display: flex;
        }

@media (max-width: 768px) {
     .we{
          display: none;
     }
     .ho{
          background-color: rgb(90, 61, 251);
          font-size: 34px;
     }
     .ab{
          display: flex;
     }
     .con{
          display: flex;
     }
}
@media (min-width: 769px) and (max-width: 992px) {
     .we{
          display: none;
     }
     .ho{
         display: flex;
     }
     .ab{
           background-color: rgb(221, 43, 248);
          font-size: 34px;
     }
     .con{
          display: flex;
     }
     }
@media (min-width: 993px) and (max-width: 1100px) {
     .we{
          display: none;
     }
     .ho{
         display: none;
     }
     .ab{
          display: none;
     }
     .con{
          background-color: lightblue;
          font-size: 34px;
     }
     }
    
}

ul{
    list-style: none;
}

.ho, .ab, .con {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li {
  float: left;
}

ul li a.active {
  background-color: #66e0f8;
}
.we{
     position: absolute;
     right: 10px;
     color: rgb(0, 229, 255);
}
    }

.inf{
      background-color: rgb(85, 86, 86);
     .ch{
          h1{
               color: aliceblue;

          }
          p{
               color: aliceblue;
          }
}
}

.ch1{
     background-color: rgb(48, 46, 46);
 details > summary {
  padding: 4px;
  width: 200px;
  background-color: #eeeeee;
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

details > p {
  background-color: #eeeeee;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}
}